form .post-image-collection {
    padding: 20px 0px;
    overflow: hidden;
  }
  
  form .post-image {
    position: relative;
    float: left;
    height: 152px;
    width: 170px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  
  .mrm {
    margin-right: 20px;
  }
  
  .mts {
    margin-top: 10px;
  }
  
  form .post-image .upload-section img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    vertical-align: top;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 50px;
  }
  
  form .post-image .preview-section img {
    border-radius: 3px;
    overflow: hidden;
    margin: 0px;
  }
  
  form .post-image .icon-camera {
    display: none;
  }
  
  form .post-image input {
    display: none;
  }
  
  form .post-image.empty {
    position: relative;
    float: left;
    height: 130px;
    width: 130px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
  }
  
  form .post-image.empty .icon-camera {
    display: block;
    height: 100%;
    line-height: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    cursor: pointer;
  }
  
  form .post-image.empty .icon-camera img {
    height: 60px;
    width: 60px;
  }
  
  form .post-image.empty input {
    cursor: pointer;
  }
  
  form .post-image p,
  .file_container-orange p {
    margin: 10px 0;
    margin: 1rem 0;
    text-align: center;
    font-family: "OpenSansSemiBold", sans-serif;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #list {
    float: left;
  }
  
  .thumb {
    height: 130px;
    width: 130px;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .remove_img_preview {
      position: relative;
      top: -145px;
      right: -64px;
      font-size: 20px;
      padding: 2px 5px;
      border-radius: 16px;
      text-align: center;
      cursor: pointer;
      background-color: #000;
  }
  
  .remove_img_preview:before {
      content: "×";
      color: #fff;
      font-size: 22px;
      font-weight: bold;
  }